fastapi
uvicorn[standard]
sqlalchemy
greenlet
psycopg[binary]
aiosqlite
pydantic-settings
email-validator
python-dotenv
python-multipart
PyJWT
pwdlib[argon2]
casbin
httpx
debugpy
pytest
pytest-cov
ruff
